<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <link rel="stylesheet" th:href="@{/css/style.css}" />

<head>
    <title>Layout</title>
</head>

<body>
    <header>
        <h1>Programme annuel des étudiant <img alt="mon image" th:src="@{/image/esi.png}" /></h1>
        <h3>HE2B-ESI/WEBG5/IBRAH/2022-2023</h3>
        <a href="/"><button>home</button></a>
        <a href="/courses"><button>cours</button></a>
        <a href="/students"><button>étudiants</button></a>
    </header>
    <main layout:fragment="content">
        Ce contenu sera remplacé par le vrai.
    </main>
</body>

</html>